[Unit]
Description=Web Spider server
After=network.target

[Service]
Type=simple
ExecStart=/home/webspider/bin/webspider
WorkingDirectory=/home/webspider/www
Restart=always

[Install]
WantedBy=multi-user.target
