.main-header {
    text-align: center;
    background-color: #efeff7;
    color: #666666;
}
.block-section {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #efeff7;
}
.section-header {
    margin: 0;
    padding: 10px 0 10px 20px;
    font-size: 30px;
/*    text-align: center;*/
}
.body-text {
    margin: 0;
    padding: 0 20px 10px 20px;
    font-size: 30px;
}
.body-text:hover {
    color: #f5af36;
}
section {
    margin: 0 20% 0 20%;
}
@media screen and (max-width: 880px) {
    section {
        margin: 0 10% 0 10%;
    }
}
@media screen and (max-width: 600px) {
    section {
        margin: 0;
    }
}
